body {
    background-color: #000020;
    color: #ffe8e8;
    margin: auto;
    padding: 2rem;
    max-width: 720px;
    font-family: 'Roboto', serif;
}

span {
    color: #d0c0c0
}

a {
    color: #b0b0ff
}

a:visited {
    color: #a0a0a0
}

header {
    padding: 2rem;
    margin: 2rem auto;
    max-width: 720px;
}

section {
    border-radius: 15px;
    background-color: #202040;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 720px;
    box-shadow: rgba(29, 30, 30, 0.2) 0px 2px 8px;
}

ul {
    list-style: square;
}