body {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.btn {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #080808;
    background-color: transparent;
    text-align: center;
    transition: all 0.2s;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media all and (max-width:30em) {
    .btn {
        display: block;
        margin: 0.2em auto;
    }
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100vw;
    height: 60px;
    background: rgba(0, 0, 0, 0.8);
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f8f8f8;
}

.navbar ul li a:hover {
    color: #00ced1;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.wrapper {
    max-width: 1020px;
}

.container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.content-card {
    margin: 2rem;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    flex: 1 1 auto;
    color: #000;
    background-color: #fff;
}

.exp {
    margin: 1rem;
    padding: 1rem;
}

#home-page {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/m-angie-salazar-1_ZZ8VgPbjM-unsplash.jpg);
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/m-angie-salazar-1_ZZ8VgPbjM-unsplash.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/m-angie-salazar-1_ZZ8VgPbjM-unsplash.jpg);
    background-image: -ms-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/m-angie-salazar-1_ZZ8VgPbjM-unsplash.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/m-angie-salazar-1_ZZ8VgPbjM-unsplash.jpg);
    color: #fff;
}

#about-me-page {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/aiden-frazier-EKNVOn3zWUw-unsplash.jpg);
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/aiden-frazier-EKNVOn3zWUw-unsplash.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/aiden-frazier-EKNVOn3zWUw-unsplash.jpg);
    background-image: -ms-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/aiden-frazier-EKNVOn3zWUw-unsplash.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/aiden-frazier-EKNVOn3zWUw-unsplash.jpg);
}

#education-page {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/sharon-mccutcheon-y0PKfXeJsq4-unsplash.jpg);
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/sharon-mccutcheon-y0PKfXeJsq4-unsplash.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/sharon-mccutcheon-y0PKfXeJsq4-unsplash.jpg);
    background-image: -ms-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/sharon-mccutcheon-y0PKfXeJsq4-unsplash.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/sharon-mccutcheon-y0PKfXeJsq4-unsplash.jpg);
}

#experience-page {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/chris-carzoli-80Ie2s-plaU-unsplash.jpg);
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/chris-carzoli-80Ie2s-plaU-unsplash.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/chris-carzoli-80Ie2s-plaU-unsplash.jpg);
    background-image: -ms-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/chris-carzoli-80Ie2s-plaU-unsplash.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/chris-carzoli-80Ie2s-plaU-unsplash.jpg);
}

#projects-page {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-image: -moz-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-image: -ms-linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), url(images/nasa-Q1p7bh3SHj8-unsplash.jpg);
}

#contact-page {

    color: #000;
}
