body {
    margin: auto;
    max-width: 720px;
    font-family: 'Roboto', serif;
}

header {
    padding: 2rem;
    margin: 2rem auto;
    max-width: 720px;
}

section {
    border-radius: 15px;
    background-color: #202040;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 720px;
    box-shadow: rgba(29, 30, 30, 0.2) 0px 2px 8px;
}

ul {
    list-style: square;
}