body {
    margin: auto;
    max-width: 720px;
    font-family: 'Roboto', serif;
}

header {
    padding: 1rem;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}

section {
    padding: 1rem;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: square;
}